

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

{% block header %}
  {{ header({
    "service": {
        "name": data['feedback-service-name'],
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l">Check your email</h1>

        {{ insetText({
            "HTML": "<p>We sent an email to gareth.joyce@nhs.net</p>",
            "classes": "nhsuk-u-margin-bottom-5 nhsuk-u-margin-top-0"
        }) }}

        <p>You will need to click the link in the email to sign into this service.</p>

        <p>If our email doesn't arrive within 5 minutes, check your spam and trash folder, or <a href="email">try again</a>.</p>
        
        <!-- End of content -->
        <p><a href="email-confirmation" class="prototype-signpost">See email mock-up</a></p>

    </div>  

  </div>

<script>
window.setTimeout(function(){
    window.location.href = "email-confirmation";
}, 10000);
</script>
{% endblock %}
