

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }} 

<form action="region" method="post">

<div class="nhsuk-form-group">
  {% call fieldset({
      legend: {
          "text": "Which region would you like to get messages about?",
          "classes": "nhsuk-fieldset__legend--l",
          "isPageHeading": true
      }
      }) %}
         
 <div class="nhsuk-checkboxes">

  <div class="nhsuk-checkboxes__item">
    <input class="nhsuk-checkboxes__input chk" id="region-1" name="region" type="checkbox" value="North West" onclick="uncheckIdk()">
    <label class="nhsuk-label nhsuk-checkboxes__label" for="region-1">North West</label>
  </div>
     <div class="nhsuk-checkboxes__item">
    <input class="nhsuk-checkboxes__input chk" id="region-2" name="region" type="checkbox" value="North East and Yorkshire" onclick="uncheckIdk()">
    <label class="nhsuk-label nhsuk-checkboxes__label" for="region-2">North East and Yorkshire</label>
  </div>
     <div class="nhsuk-checkboxes__item">
    <input class="nhsuk-checkboxes__input chk" id="region-3" name="region" type="checkbox" value="Midlands" onclick="uncheckIdk()">
    <label class="nhsuk-label nhsuk-checkboxes__label" for="region-3">Midlands</label>
  </div>
     <div class="nhsuk-checkboxes__item">
    <input class="nhsuk-checkboxes__input chk" id="region-4" name="region" type="checkbox" value="South West" onclick="uncheckIdk()">
    <label class="nhsuk-label nhsuk-checkboxes__label" for="region-4">South West</label>
  </div>
     <div class="nhsuk-checkboxes__item">
    <input class="nhsuk-checkboxes__input chk" id="region-5" name="region" type="checkbox" value="South East" onclick="uncheckIdk()">
    <label class="nhsuk-label nhsuk-checkboxes__label" for="region-5">South East</label>
  </div>

   <div class="nhsuk-checkboxes__item">
    <input class="nhsuk-checkboxes__input chk" id="region-6" name="region" type="checkbox" value="East of England" onclick="uncheckIdk()">
    <label class="nhsuk-label nhsuk-checkboxes__label" for="region-6">East of England</label>
  </div>

  <div class="nhsuk-checkboxes__item">
    <input class="nhsuk-checkboxes__input chk" id="region-7" name="region" type="checkbox" value="London" onclick="uncheckIdk()">
    <label class="nhsuk-label nhsuk-checkboxes__label" for="region-7">London</label>
  </div>

  <p class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">– or –</p>
  <div class="nhsuk-checkboxes__item">
    <input class="nhsuk-checkboxes__input chk-idk" id="region-8" name="region" type="checkbox" value="email" onclick="uncheckAll()">
    <label class="nhsuk-label nhsuk-checkboxes__label" for="region-8">All NHS England regions</label>
  </div>
</div>

 {% endcall %}
</div>
 {{ button({
      "text": "Save and view messages"
  }) }}
</form>

      <!-- End of content -->

</div>

</div>

<script>
function uncheckAll() {
  var inputs = document.querySelectorAll('.chk');
  for (var i = 0; i < inputs.length; i++) {
    inputs[i].checked = false;
  }
}
function uncheckIdk() {
  var inputs = document.querySelectorAll('.chk-idk');
  for (var i = 0; i < inputs.length; i++) {
    inputs[i].checked = false;
  }
}
</script>

{% endblock %}
