<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  This is a prototype
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top">An NHS.UK prototype</span>
        <span class="nhsuk-heading-l">{{ serviceName }}</span>
      </h1>

      {{ details({
        "text": "Who is this service for?",
        "HTML": "
            <div class=nhsuk-panel>
              <h4>Who do we think this service is for?</h4>
              <ul>
                <li>Targeted messages for NHS Staff responding to COVID-19 outbreak? - what are the messages?</li>
                <li>Any type of support for NHS Staff responding to COVID-19 outbreak? - what is the support?</li>
                <li>Mental health support for all NHS Staff? - Too narrow?</li>
                <li>Discounts for all NHS Staff? - are we trying to target everyone? Is everyone involved in the response?</li>
              </ul>
            </div>
        "
      }) }}

      <hr>
      
      <h2 class="nhsuk-heading-m">1. How does a user access this service?</h2>
      {{ contentsList({
        items: [
          {
            href: "1/start",
            text: "a. Create an account and sign-in with a password"
          },
          {
            href: "2/start",
            text: "b. Magic link in email journey"
          },
          {
            href: "3/start",
            text: "c. Code in email journey"
          }
        ]
      }) }}

      <hr />

      <h2 class="nhsuk-heading-m">2. How does a user get messages?</h2>
      {{ contentsList({
        items: [
          {
            href: "4/preferences",
            text: "a. Set message preferrences – trigger after first sign-in"
          },
          {
            href: "6/start",
            text: "b. Sign-in and opt-in contact details journey"
          }
        ]
      }) }}

      <hr>

      <h2 class="nhsuk-heading-m">3. How does a user tell us what the messages contain?</h2>
      {{ contentsList({
        items: [
          {
            href: "5/region",
            text: "a. Set message content by region – trigger after first sign-in"
          },
          {
            href: "5/trust",
            text: "b. By trust"
          },
          {
            href: "5/role",
            text: "c. By role"
          },
          {
            href: "5/sector",
            text: "d. By sector"
          }
        ]
      }) }}

      <hr>

      <p> Built with NHS.UK prototype kit <span class="nhsuk-caption-l nhsuk-caption--bottom">Version {{version}}</span></p>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
