

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
    }) }}

    <form action="sign-in" name="how" method="post">
        {% call fieldset({
            legend: {
                "text": "Sign in to get clinical messages about COVID-19 response efforts from NHS.UK",
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
            }
            }) %}

            {{ input({
                "label": {
                    "text": "Email"
                },
                "id": "email",
                "name": "email"
            }) }}

            {{ input({
                "label": {
                    "text": "Password"
                },
                "classes": "nhsuk-input--width-10",
                "id": "pw",
                "name": "pw"
            }) }}

        {% endcall %}

        {{ button({
            "text": "Sign in"
        }) }}
    </form>

    <p><a href="email">I need to sign up</a></p>

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
